/* Navbar.module.css */

.navbar {
  background-color: #3498db;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navList {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 1rem;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ecf0f1;
}

.logoutButton {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logoutButton:hover {
  color: #ecf0f1;
}
